<table>
            <caption>Информация о группе</caption>
            <tr>
                <th>Наименование группы</th>
                <td>
                        <input {{attribute}} name="input" id="name" class="table-element" value="{{class.classname}}">
                </td>
            </tr>
            <tr>
                <th>Дата формирования</th>
                <td>
                        <input {{attribute}} name="input" type="date" id="date" class="table-element" value="{{class.classdate}}">
                </td>
            </tr>
            <tr>
                <th>Куратор группы</th>
                <td> <select {{attribute}} name="input" id="teacher">
                    {{#if teacher.teacherID}}
                        <option value = "{{teacher.teacherID}}">{{teacher.teachersurname}} {{teacher.teachername}} {{teacher.teachermidname}}</option>
                    {{else}}
                    {{#each teachers}}
                        <option value = "{{this.teacherID}}">{{this.teachersurname}} {{this.teachername}} {{this.teachermidname}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                </td>
            </tr>
            <tr>
                <th>Направление обучения</th>
                <td>
                    <select {{attribute}} name="input" id="course">
                        {{#if class.courseID}}
                            <option value = "{{class.courseID}}">{{class.coursename}}</option>
                        {{else}}
                        {{#each courses}}
                            <option value = "{{this.courseID}}">{{this.coursename}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>
                        <textarea {{attribute}} name="input" id="description" class="table-element table-textarea">{{class.classdesc}}</textarea>
                </td>
            </tr>
        </table>