<table>
            <caption>Информация о группе</caption>
            <tr>
                <th>Наименование группы</th>
                <td>
                    {{#if class.classname}}
                        <input {{attribute}} name="input" id="name" class="table-element" value="{{class.classname}}">
                    {{else}}
                        <input name="input" id="name" class="table-element">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Дата формирования</th>
                <td>
                    {{#if class.classdate}}
                        <input {{attribute}} name="input" type="date" id="date" class="table-element" value="{{class.classdate}}">
                    {{else}}
                        <input name="input" type="date" id="date" class="table-element" value="{{date}}">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Куратор группы</th>
                <td> <select {{attribute}} name="input" id="teacher">
                    {{#if class.teacherID}}
                        <option value = "{{class.teacherID}}">{{class.teachersurname}} {{class.teachername}} {{class.teachermidname}}</option>
                    {{else}}
                    {{#each teachers}}
                        <option value = "{{this.teacherID}}">{{this.teachersurname}} {{this.teachername}} {{this.teachermidname}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                </td>
            </tr>
            <tr>
                <th>Староста</th>
                <td>

                        {{#if class.studentID}}
                            <input type="hidden" id="student" value="{{class.studentID}}">
                            <label {{attribute}} name="student" id="student-name">{{class.studentsurname}} {{class.studentname}} {{class.studentmidname}}</label>
                        {{else}}
                            <input type="hidden" id="student" >
                            <label {{attribute}} name="input" id="student-name"></label>
                        {{/if}}
                    </label>
                </td>
            </tr>
            <tr>
                <th>Направление обучения</th>
                <td>
                    <select {{attribute}} name="input" id="course">
                        {{#if class.courseID}}
                            <option value = "{{class.courseID}}">{{class.coursename}}</option>
                        {{else}}
                        {{#each courses}}
                            <option value = "{{this.courseID}}">{{this.coursename}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>
                    
                    {{#if class.classdesc}}
                        <textarea {{attribute}} name="input" id="description" class="table-element table-textarea">{{class.classdesc}}</textarea>
                    {{else}}
                        <textarea name="input" id="description" class="table-element table-textarea"></textarea>
                    {{/if}}
                </td>
            </tr>
        </table>