    <table class="table-grid-element fixed">
        {{#unless create-check}}
        <caption>Специальность "{{education.educationspeciality}}"</caption>
        {{#isGreater token.role "1"}}
        <tr>
            <th>ID записи</th>
            <td><input disabled readonly id="id" class="table-element education-element" value="{{education.educationID}}"></td>
        </tr>
        {{/isGreater}}
        {{else}}
        <caption>{{teacherfio}}</caption>
        {{/unless}}
        <tr>
            <th>Начало обучения</th>
            <td><input {{attribute}} name="input" type="date" id="begindate" class="table-element education-element" value="{{education.educationbegindate}}"></td>
        </tr>
        <tr>
            <th>Окончание обучения</th>
            <td><input {{attribute}} name="input" type="date" id="enddate" class="table-element education-element" value="{{education.educationenddate}}"></td>
        </tr>
        <tr>
            <th>Место получения</th>
            <td>
                <textarea {{attribute}} oninput="auto_grow(this)" name="input" id="institution" class="table-element table-textarea education-element">{{education.educationinstitution}}</textarea>
            </td>
        </tr>
        <tr>
            <th>Квалификация</th>
            <td>
                <input {{attribute}} name="input" id="qualification" class="table-element education-element" value="{{education.educationqualification}}">
            </td>
        </tr>
        <tr>
            <th>Специальность</th>
            <td>
                <input {{attribute}} name="input" id="speciality" class="table-element education-element" value="{{education.educationspeciality}}">
            </td>
        </tr>
        <tr>
            <th>Регистрационный номер</th>
            <td>
                <input {{attribute}} name="input" id="regnumber" class="table-element education-element" value="{{education.educationregnumber}}">
            </td>
        </tr>
        {{#isGreater token.role "1"}}
        {{#unless create-check}}
        <tr> 
            <td colspan="2"><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{education.educationID}}">Удалить</button></td>
        </tr>
        {{/unless }}
        {{/isGreater}}
    </table>
   