<table class="main-table fixed">
            <caption>Подробная информация</caption>
            <tr>
                <th>Дата проведенния</th>
                <td>
                    {{#if data.lessondateof}}
                        <input {{attribute}} name="input" id="date" type="date" class="table-element" value="{{data.lessondateof}}">
                    {{else}}
                    <input name="input" id="date" type="date" class="table-element">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Время проведения</th>
                <td>
                    <select {{attribute}} name="input" id="timing"> 
                        {{#if data.timingID}}
                            <option value = "{{data.timingID}}">{{data.timingbegin}} - {{data.timingend}}</option>
                        {{else}}
                        {{#each data.timings}}
                            <option value = "{{this.timingID}}">{{this.timingbegin}} - {{this.timingend}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Группа</th>
                <td> <select {{attribute}} name="input" id="class">
                    {{#if data.classID}}
                        <option value = "{{data.classID}}">{{data.classname}}</option>
                    {{else}}
                    {{#each data.classes}}
                        <option value = "{{this.classID}}">{{this.classname}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                </td>
            </tr>
            <tr>
                <th>Преподаватель</th>
                <td> <select {{attribute}} name="input" id="teacher">
                    {{#if data.teacherID}}
                        <option value = "{{data.teacherID}}">{{data.teachersurname}} {{data.teachername}} {{data.teachermidname}}</option>
                    {{else}}
                    {{#each data.teachers}}
                        <option value = "{{this.teacherID}}">{{this.teachersurname}} {{this.teachername}} {{this.teachermidname}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                </td>
            </tr>
            <tr>
                <th>Тема</th>
                <td>
                    <select {{attribute}} name="input" id="theme"> 
                        {{#if data.themeID}}
                            <option value = "{{data.themeID}}">{{data.themename}}</option>
                        {{else}}
                        {{#each data.themes}}
                            <option value = "{{this.themeID}}">{{this.themename}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Тип занятия</th>
                <td>
                    <select {{attribute}} name="input" id="type">
                        {{#if data.typeID}}
                            <option value = "{{data.typeID}}">{{data.typename}}</option>
                        {{else}}
                        {{#each data.types}}
                            <option value = "{{this.typeID}}">{{this.typename}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Формат проведения</th>
                <td>
                    <select {{attribute}} name="input" id="format">
                        {{#if data.formatID}}
                            <option value = "{{data.formatID}}">{{data.formatname}}</option>
                        {{else}}
                        {{#each data.formats}}
                            <option value = "{{this.formatID}}">{{this.formatname}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Аудитория</th>
                <td>
                    <select {{attribute}} name="input" id="audience">
                        {{#if data.audienceID}}
                            <option value = "{{data.audienceID}}">{{data.audiencename}}</option>
                        {{else}}
                        {{#each data.audiences}}
                            <option value = "{{this.audienceID}}">{{this.audiencename}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>
                    <textarea {{attribute}} oninput="auto_grow(this)" name="input" id="description" class="table-element table-textarea">{{data.lessondesc}}</textarea>
                </td>
            </tr>
        </table>
