<table>
    <caption>Список студентов</caption>
        <tr>
            <th>ID студента</th>
            <th>ФИО студента</th>
            <th>Группа</th>
            <th>Почта</th>
            <th>Номер телефона</th>
        </tr>
        {{#each students as |student|}}
        <tr>
            <td><a  href="/students/student/student/{{student.studentID}}">{{student.studentID}}</a></td>
            <td><a  href="/students/student/student/{{student.studentID}}">{{student.studentsurname}} {{student.studentname}} {{student.studentmidname}}</a></td>
            <td><a  href="/classes/class/class/{{student.classID}}">{{student.classname}}</a></td>
            <td><a  href="/students/student/student/{{student.studentID}}">{{student.studentemail}}</a></td>
            <td><a  href="/students/student/student/{{student.studentID}}">{{student.studentphone}}</a></td>
            <td><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{student.studentID}}">Удалить</button></td>
        </tr>
        {{/each}}
</table>