<table>
    <caption>Список студентов</caption>
        <tr>
            <th>ID студента</th>
            <th>ФИО студента</th>
            <th>Пол</th>
            <th>Почта</th>
            <th>Номер телефона</th>
            <th></th>
        </tr>
        {{#each students as |student|}}
        <tr>
            <td>{{student.studentID}}</td>
            <td>{{student.studentsurname}} {{student.studentname}} {{student.studentmidname}}</td>
            <td>{{student.studentsex}}</td>
            <td>{{student.studentemail}}</td>
            <td>{{student.studentphone}}</td>
            <td>
            <button class="btn"><i class="gg-backspace"></i></button>
            <button class="btn"><i class="gg-pen"></i></button>
            </td>
        </tr>
        {{/each}}
</table>