<table style="width:130%">
            <caption>Подробная информация</caption>
            <tr>
                <th>Дата проведенния</th>
                <th>
                    <input name="input" id="date" type="date" class="table-input">
                </th>
            </tr>
            <tr>
                <th>Время проведения</th>
                <th>
                    <select name="input" id="timing"> 
                    {{#each data.timings}}
                        <option value = "{{this.timingID}}">{{this.timingbegin}} - {{this.timingend}}</option>
                    {{/each}}
                    </select>
                </th>
            </tr>
            <tr>
                <th>Преподаватель</th>
                <th> <select name="input" id="teacher">
                    {{#each data.teachers}}
                        <option value = "{{this.teacherID}}">{{this.teachersurname}} {{this.teachername}} {{this.teachermidname}}</option>
                    {{/each}}
                </select>
                </th>
            </tr>
            <tr>
                <th>Тема</th>
                <th>
                    <select name="input" id="theme"> 
                        {{#each data.themes}}
                            <option value = "{{this.themeID}}">{{this.themename}}</option>
                        {{/each}}
                    </select>
                </th>
            </tr>
            <tr>
                <th>Тип занятия</th>
                <th>
                    <select name="input" id="type">
                        {{#each data.types}}
                            <option value = "{{this.typeID}}">{{this.typename}}</option>
                        {{/each}}
                    </select>
                </th>
            </tr>
            <tr>
                <th>Формат проведения</th>
                <th>
                    <select name="input" id="format">
                        {{#each data.formats}}
                            <option value = "{{this.formatID}}">{{this.formatname}}</option>
                        {{/each}}
                    </select>
                </th>
            </tr>
            <tr>
                <th>Аудитория</th>
                <th>
                    <select name="input" id="audience">
                        {{#each data.audiences}}
                            <option value = "{{this.audienceID}}">{{this.audiencename}}</option>
                        {{/each}}
                    </select>
                </th>
            </tr>
            <tr>
                <th>Описание</th>
                <th>
                    <input name="input" id="description" class="table-input"/>
                </th>
            </tr>
        </table>