<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
    </head>
    <body>
        {{> header}}
        <button class="create-button"><a href="/lessons/create" class="create_href">Добавить занятие</a></button>
        <h2>Расписание</h2>
    <div>
      <script>
        var prevmonth = {{monthnumber}}-1;
        var nextmonth = {{monthnumber}}+1;
        var nextyear = {{year}};
        var prevyear = {{year}};
        if(prevmonth < 1)
        {
          prevmonth = 12;
          prevyear = prevyear-1;
        }
        else if(nextmonth >12){
          nextmonth = 1;
          nextyear = nextyear+1;
        }
       var prev = "/lessons/lessons/"+prevyear + "-"+prevmonth;
       var next = "/lessons/lessons/"+nextyear + "-"+nextmonth;
      document.write(
        '<a href="' + prev + '">Пред</a>' + "{{month}}" + '<a href="' + next + '">След</a>'
        );
      </script>
    </div>
    <div class="grid">
        {{#each lessons}}
          {{> cell data=this}} 
        {{/each}}
    </div>
    </body>
</html>