<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
        
    </head>
    <body>
        {{> header token=token}}
        <a href="/admins/admin/create" class="create_href"><button class="create-button">Добавить админа</button></a>
        <input type="text" id="filter-input" onkeyup="applyFilter()" placeholder="Поиск...">
        <table id="table">
    <caption>Список админов</caption>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Почта</th>
        </tr>
        {{#each admins as |admin|}}
        <tr>
            <td>{{admin.adminID}}</td>
            <td>{{admin.adminlogin}}</a></td>
            <td>{{admin.adminemail}}</td>
            {{#isGreater admin.adminID "1"}}
            <td><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{admin.adminID}}">Удалить</button></td>
            {{/isGreater}}
        </tr>
        {{/each}}
</table>
    </body>
</html>
<script>
    async function delete_element(elem){
        var id = elem.value;
        const response = await fetch('/admins/admin/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("tr");
        tr.remove();
    };
    function applyFilter() {
    var input, filter, table, tr, i, txtValue;
    input = document.getElementById("filter-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
            var endLoop = false;
            tdAll = tr[i].getElementsByTagName("td");
            for(let td of tdAll)
            if(!endLoop)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    endLoop = true;
                } 
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>