<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header}}
        <a href="/classes/create" class="create_href"><button class="create-button">Добавить группу</button></a>
        <table>
            <caption>Список групп</caption>
            <tr>
                <th>Название</th>
                <th>Направление</th>
                <th>Дата формирования</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classname}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.coursename}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classdate}}
                        </a>
                    </td>
                    <td><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{this.classID}}">Удалить</button></td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>
<script>
    async function delete_element(elem){
        var id = elem.value;
        console.log(id);
        const response = await fetch('/classes/class/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("tr");
        console.log(tr);
        tr.remove();
    }
</script>