<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header token=token}}
        {{#isGreater token.role "1"}}<a href="/classes/create" class="create_href"><button class="create-button">Добавить группу</button></a>{{/isGreater}}
        <input type="text" id="filter-input" onkeyup="applyFilter()" placeholder="Поиск...">
        <table id="table">
            <caption>Список групп</caption>
            <tr>
                <th>Название</th>
                <th>Направление</th>
                <th>Дата формирования</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classname}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.coursename}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classdate}}
                        </a>
                    </td>
                    {{#isGreater token.role "1"}}<td><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{this.classID}}">Удалить</button></td>{{/isGreater}}
                </tr>
            {{/each}}
        </table>
    </body>
</html>
<script>
    async function delete_element(elem){
        var id = elem.value;
        console.log(id);
        const response = await fetch('/classes/class/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("tr");
        console.log(tr);
        tr.remove();
    }
    function applyFilter() {
    // Declare variables
    var input, filter, table, tr, i, txtValue;
    input = document.getElementById("filter-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            var endLoop = false;
            tdAll = tr[i].getElementsByTagName("td");
            for(let td of tdAll)
            if(!endLoop)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    endLoop = true;
                } 
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>