<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header}}
        <button class="create-button"><a href="/classes/create" class="create_href">Добавить группу</a></button>
        <table>
            <caption>Список групп</caption>
            <tr>
                <th>Название</th>
                <th>Направление</th>
                <th>Дата формирования</th>
            </tr>
            {{#each data}}
             
                <tr>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classname}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.coursename}}
                        </a>
                    </td>
                    <td>
                        <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classdate}}
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>